*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-shape{
  position: absolute;
  left: 89%;
  top: -42%;
  border-radius: 15%;
  background-color: #FFFAD1;
  transform: rotate(-128.49deg)
}

.bottom-shape {
  position: absolute;
  left: -14%;
  top: 48%;
  border-radius: 55%;
  transform: rotate(-68.49deg);
  background: #DEEBF8;
}